@font-face {
  font-family: 'Roboto-Medium';
  src: url(public/fonts/Roboto-Medium.ttf);
}

body {
  display: flex;
  height: 100vh;
  margin: 0;
  font-family: 'Roboto-Medium';
}

.left {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: #f4f6f9;
  border-right: 3px solid #ffd74c;
  min-width: 700px;
}

.logo-container {
  display: flex;
  flex-direction: column;
  /*flex: 1;*/
  margin-top: 70px;
  margin-bottom: 40px;
}

.login-section {
  flex: 1;
  /*display: flex;*/
  flex-direction: column;
  align-self: center;
  align-items: center;
  border: 1px solid #d9e0e9;
  /*justify-content: space-evenly;*/
  background-color: white;
  width: 52%;
  height: 100%;
  padding: 25px;
  border-radius: 3px;
  /*padding-bottom: 35px;*/
}

/*.login-section > div {
  margin-bottom: 35px;
}*/

.login-section .email-container {
  /*border: 3px solid red;*/
  flex: 1;
  width: -webkit-fill-available;
  margin-bottom: 25px;
}

.login-section .email-container input {
  width: 100%;
  border-radius: 3px;
  border: 1px solid #ffd967;
  background-color: #f4f6f9;
  min-height: 50px;
  font-size: 22px;
  padding-left: 10px;
}

.login-section .password-container {
  /*border: 3px solid red;*/
  flex: 1;
  width: -webkit-fill-available;
  margin-bottom: 25px;
}

.login-section .password-container input {
  width: 100%;
  border-radius: 3px;
  border: 1px solid #ffd967;
  background-color: #f4f6f9;
  min-height: 50px;
  font-size: 22px;
  padding-left: 10px;
}


.login-section .button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  /*flex: 1;*/
  width: -webkit-fill-available;
  border-radius: 3px;
  background-color: #ffd967;
  font-size: 14px;
  min-height: 50px;
  margin-bottom: 25px;
  cursor: pointer;
}

.login-section .button-container:hover {
  /*background-color: red;*/
  box-shadow: 3px 3px 3px #adadad
}

.login-section .button-container:active {
    box-shadow: 1px 1px 1px #adadad
}

.login-section .forgot-container {
  /*border: 3px solid red;*/
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  flex: 1;
  width: -webkit-fill-available;
}

.login-section .forgot-container .request {
  /*align-self: flex-start;*/
  font-size: 14px;
  text-decoration: underline;
  cursor: pointer;
}

.login-section .forgot-container .forgot {
  /*align-self: flex-end;*/
  font-size: 14px;
  text-decoration: underline;
  cursor: pointer;
}
.alternative {
  flex: 1;
}

.logo {
  /*background: url(public/logo/Orginal.png) no-repeat center;*/
  background: url(public/logo/logo_226x70.png) no-repeat center;
  /*flex: 1;*/
  background-size: contain;
  height: 50px;
}

.logo-text {
  text-align: center;
  font-family: 'Roboto-Medium';
  font-size: 13px;
  margin-top: 15px;
  flex: 1;
}

.right {
  flex: 1;
  background: url(image.png) no-repeat center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.email-label {
  display: block;
  margin-bottom: 10px;
  font-size: 14px;
}

.pass-label {
  display: block;
  margin-bottom: 10px;
  font-size: 14px;
}